* {
    font-family: Inter;
    margin: 0;
}

body {
    margin-top: 70px;
}

.logo {
    width: 150px;
    height: 75px;
    margin-left: 25px;
}

.mainlogo:hover {
    filter: drop-shadow(0 0 0.7em #ffffff);
}

nav {
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #004530;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    filter: drop-shadow(0 0 0.7em #000000);
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    transition: filter 0.3s ease;
}

.nav-icon:hover {
    filter: brightness(1.2);
}

.menu {
    margin-right: 100px;
    font-weight: 500;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-left: 50px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    position: relative;
    padding-bottom: 5px;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.menu ul li a:hover::after {
    transform: scaleX(1);
}

.menu ul li a:hover,
.menu ul li a.active {
    font-weight: bolder;
    filter: drop-shadow(0 0 0.7em #ffffff);
}

.menu ul li a.active::after {
    transform: scaleX(1);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #004530;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 5;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 0.9em;
    color: white;
    font-weight: 600;
    background-color: #004530;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #dee2d4;
    color: #004530;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-arrow {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    vertical-align: top;
    transition: transform 0.3s ease;
}

.menu ul li a[href="account.html"] {
    color: #ffffff;
}

.menu ul li a[href="account.html"]:hover {
    color: white;
    font-weight: bolder;
}

.dropdown-content.show {
    display: block;
}

@media (max-width: 768px) {
    .menu {
        margin-right: 20px;
    }

    .menu ul li {
        margin-left: 10px;
    }
}
/* Artwork---------------------------------------------------------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
}

#artwork h1 {
    text-align: center;
    color: #1a4d2e;
    position: static;
    font-family: Amiri;
    font-optical-sizing: auto;
    font-size: 4vw;
    font-weight: 700;
    font-style: normal;
    margin-top: 120px;
    margin-bottom: 30px;
}

.artwork {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebarprofil {
    position: sticky;
    top: 150px;
    left: 6vw;
    height: 300px;
    width: 250px;
    min-width: 200px;
}

.side-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.side-text {
    text-align: center;
}

.painting-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    gap: 30px;
    margin-bottom: 100px;
}

.sidebarprofil > p {
    margin: 2px;
    font-size: 20px;
}

.sidebar-name.sidebar-name {
    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-style: normal;
}

.sidequote {
    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-style: italic;
}

.artwork-painting-title {
    text-align: center;
    color: #1a4d2e;
    font-size: 17px;
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;
    width: auto;
}

.painting {
    display: block;
    height: 300px;
    z-index: 0;
}

.whitec {
    width: 358px;
    position: relative;
    z-index: 0;
}

.newyork {
    width: 187px;
    position: relative;
    z-index: 0;
}

.jimson {
    width: 334px;
    position: relative;
    z-index: 0;
}

.oriental {
    width: 407px;
    position: relative;
    z-index: 0;
}

.blackpl {
    width: 447px;
    position: relative;
    z-index: 0;
}

.ladder {
    width: 223px;
    position: relative;
    z-index: 0;
}

.cows {
    width: 223px;
    position: relative;
    z-index: 0;
}

.blueandg {
    width: 247px;
    position: relative;
    z-index: 0;
}

.whitec-painting {
    display: block;
    width: auto;
    height: 100%;
    box-shadow: -5px 10px 10px black;
}

.newyork-painting {
    display: block;
    width: auto;
    height: 100%;
    box-shadow: -5px 10px 10px black;
}

.jimson-painting {
    display: block;
    width: auto;
    height: 100%;
    box-shadow: -5px 10px 10px black;
}

.oriental-painting {
    display: block;
    width: auto;
    height: 100%;
    box-shadow: -5px 10px 10px black;
}

.ladder-painting {
    display: block;
    width: auto;
    height: 100%;
    box-shadow: -5px 10px 10px black;
}

.blackpl-painting {
    display: block;
    width: auto;
    height: 100%;
    box-shadow: -5px 10px 10px black;
}

.cows-painting {
    display: block;
    width: auto;
    height: 100%;
    box-shadow: -5px 10px 10px black;
}

.blueandg-painting {
    display: block;
    width: auto;
    height: 100%;
    box-shadow: -5px 10px 10px black;
}

.isiwhitec-painting,
.isinewyork-painting,
.isijimson-painting,
.isioriental-painting,
.isiblackpl-painting,
.isiladder-painting,
.isiladder-painting,
.isicows-painting,
.isiblueandg-painting {
    height: 300px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    z-index: 1;
}

.whitec :hover .isiwhitec-painting,
.newyork :hover .isinewyork-painting,
.jimson :hover .isijimson-painting,
.oriental :hover .isioriental-painting,
.blackpl :hover .isiblackpl-painting,
.ladder :hover .isiladder-painting,
.cows :hover .isicows-painting,
.blueandg :hover .isiblueandg-painting {
    opacity: 1;
}

.isiwhitec-painting > p,
.isinewyork-painting > p,
.isijimson-painting > p,
.isioriental-painting > p,
.isiblackpl-painting > p,
.isiladder-painting > p,
.isiladder-painting > p,
.isicows-painting > p,
.isiblueandg-painting > p {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
/*768-576*/
@media (max-width: 768px) {
    .artwork {
        display: grid;
        grid-template-columns: 100%;
    }

    .sidebarprofil {
        position: relative;
        display: flex;
        flex-direction: row;
        top: 0;
        left: 2vw;
        height: 25vw;
        text-align: left;
        width: 100%;
    }

    .side-img {
        width: 25vw;
    }

    .side-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 10px;
        align-items: center;
        font-size: 3vw;
        margin-right: 20px;
    }

    .painting-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        margin-left: 0;
    }

    .painting {
        display: block;
        height: 30vw;
    }

    .artwork-painting-title {
        font-size: 1.7vw;
    }

    .whitec {
        width: 35.8vw;
        position: relative;
        z-index: 0;
    }

    .newyork {
        width: 18.7vw;
        position: relative;
        z-index: 0;
    }

    .jimson {
        width: 33.4vw;
        position: relative;
        z-index: 0;
    }

    .oriental {
        width: 40.7vw;
        position: relative;
        z-index: 0;
    }

    .blackpl {
        width: 44.7vw;
        position: relative;
        z-index: 0;
    }

    .ladder {
        width: 22.3vw;
        position: relative;
        z-index: 0;
    }

    .cows {
        width: 22.3vw;
        position: relative;
        z-index: 0;
    }

    .blueandg {
        width: 24.7vw;
        position: relative;
        z-index: 0;
    }

    .isiwhitec-painting,
    .isinewyork-painting,
    .isijimson-painting,
    .isioriental-painting,
    .isiblackpl-painting,
    .isiladder-painting,
    .isiladder-painting,
    .isicows-painting,
    .isiblueandg-painting {
        height: 30vw;
    }
}

/* Artwork Select---------------------------------------------------------------------------------------------- */

.artworkslct-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    text-align: left;
    margin-top: 160px;
    margin-left: 60px;
}

#artworkslct {
    color: #1a4d2e;
    font-family: "Labrada", serif;
    font-optical-sizing: auto;
    font-size: 3vw;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

.paintingdesc-back {
    position: relative;
    width: 4vw;
    height: auto;
    align-self: center;
    top: 1vw;
}

.paintingdesc {
    margin-top: 30px;
    display: grid;
    width: 90%;
    background-color: #dee2d4;
    border-radius: 2vw;
    height: auto;
    margin-left: 5%;
    grid-template-columns: 40% 60%;
    margin-bottom: 30px;
    padding: 30px;
}

.paintingdesc-painting {
    display: block;
    text-align: center;
    margin-left: 4vw;
    margin-top: 6vw;
    width: 30vw;
    height: 30vw;
}

.whitec-desc {
    width: 100%;
    height: auto;
    box-shadow: 1px 3px 10px black;
}

.whitec-desc2 {
    width: auto;
    height: 100%;
    box-shadow: 1px 3px 10px black;
}

.paintingdesc-name {
    margin-top: 1.1vw;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}
.paintingdesc-kanan {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5vw;
    margin-left: 5%;
    width: 90%;
}
.paintingdesc-quote {
    display: flex;
    background-color: rgba(78, 111, 82, 0.2);
    height: auto;
    border-radius: 20px;
}

.paintingdesc-kutip2 {
    width: 5vw;
    height: 5vw;
}

.paintingdesc-isiquote {
    color: #1a4d2e;
    margin-right: 2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: "Georama", sans-serif;
    font-size: 1.5vw;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

.paintingdesc-desc {
    width: 90%;
    font-family: "Inter", sans-serif;
    font-size: 1.5vw;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-top: 1vw;
}

.paintingdesc-title {
    font-weight: 400;
}

.paintingdesc-yapping {
    grid-column: 1/3;
    width: 90%;
    margin-left: 5%;
    margin-top: 3vw;
    font-family: "Klee One", cursive;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 768px) {
    .paintingdesc-name {
        margin-top: 1.1vw;
        font-family: "PT Sans Caption", sans-serif;
        font-size: 1.2vw;
        font-weight: 400;
        font-style: normal;
    }
}

.footer {
    text-align: center;
    background-color: #004530;
    color: white;
    padding: 30px;
}
