* {
    font-family: Inter;
    margin: 0;
}

.logo {
    width: 150px;
    height: 75px;
    margin-left: 25px;
}

.mainlogo:hover {
    filter: drop-shadow(0 0 0.7em #FFFFFF);
}

nav {
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #004530;
    position: fixed;
    color: white;
    filter: drop-shadow(0 0 0.7em #000000);
    z-index: 10;
    top: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    transition: filter 0.3s ease;
}

.nav-icon:hover {
    filter: brightness(1.2);
}

.menu {
    margin-right: 100px;
    font-weight: 500;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-left: 50px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    position: relative; 
    padding-bottom: 5px; 
}

.menu ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px; 
    background-color: #FFFFFF;
    border-radius: 5px; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
    transform-origin: left; 
}

.menu ul li a:hover::after {
    transform: scaleX(1); 
}

.menu ul li a:hover,
.menu ul li a.active {
    font-weight: bolder;
    filter: drop-shadow(0 0 0.7em #FFFFFF);
}

.menu ul li a.active::after {
    transform: scaleX(1); 
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #004530;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 5;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
}


.dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 0.9em;
    color: white; 
    font-weight: 600;
    background-color: #004530; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #DEE2D4;
    color: #004530;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-arrow {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    vertical-align: top;
    transition: transform 0.3s ease; 
}

.menu ul li a[href="account.html"] {
    color: #FFFFFF;
    
}

.menu ul li a[href="account.html"]:hover {
    color: white;
    font-weight: bolder;
}

.dropdown-content.show {
    display: block;
}

@media (max-width: 768px) {
    .menu {
        margin-right: 20px;
    }

    .menu ul li {
        margin-left: 10px;
    }
}

.ticket h1 {
    position: relative;
    align-items: start;
    top: 120px;
    left: 100px;
}

.exhib-info {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 140px;
    left: 50px;
    padding-right: 30px;
    gap: 40px;
    width: 90%;
    margin-bottom: 150px;
}

.exhib-info img {
    margin-right: 0;
    margin-left: 50px;
    border-radius: 10px;
    width: 400px;
}

.ticket-form {
    top: 30px;
    left: 250px;
}

form {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    width: 68%;
    margin: 0px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 0.5px;
}

form input[type="text"], form input[type="email"], form input[type="date"], form select {
    background-color: #fff;
    color: #333;
}

form h4, form p {
    color: black;
    margin-top: 15px;
}

.input-group {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 5px; 
  }
  
  .input-group button {
    background-color: #004530; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 40px; 
    height: 40px; 
  }
  
  .input-group input {
    width: 60px; 
    height: 40px; 
    text-align: center;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0; 
    padding: 0;
  }
  
  .checkout {
    background-color: #004530;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    border-style: none;
  }

  .checkout:hover {
    background-color: rgb(194, 212, 204);
    color: #004530;
  }

  .total-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    font-size: 1.2rem; 
    font-weight: bold; 
    border-top: 1px solid #ccc;
    margin-top: 20px; 
  }
  
  .total-label {
    color: #000; 
  }
  
  .total-amount {
    color: #004530; 
  }

  
  