/* CSS Form Centered Fix */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Membuat tinggi layar penuh */
    background-color: #f0f0f0; /* Warna latar belakang */
    font-family: Inter, sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    top: 200px;
    position: relative;
    bottom: 80px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #004530;
    top: 120px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Supaya label dan input rata kiri */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #f9f9f9;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #004530;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #357a52;
}

/* Style untuk quantity */
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.quantity button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: background-color 0.2s;
}

.quantity button:hover {
    background-color: #357a52;
}

.input-box {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    outline: none;
    margin: 0 5px;
}

.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.total-container {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.total-label {
    font-weight: bold;
    color: #000;
}

#total-amount {
    color: #004530;
    font-weight: bold;
}
